---
import PageLayout from '~/layouts/PageLayout.astro';
import Contact from '~/components/contact/contact';
---

<PageLayout metadata={{ title: 'Entrar al portal de socios' }}>
  <div class="flex flex-col items-center justify-center mx-4 mt-4">
    <Contact client:load />
  </div>
</PageLayout>
