---
// Hero.astro
---

<div id="hero" class="max-w-4xl px-4 py-16">
  {/* Main Heading */}
  <h1 class="text-5xl font-bold mb-4">
    Bienvenidos al <span class="text-primary hidden md:inline">Heaven Kit Club</span><span class="hidden md:inline"
      >, el
    </span><span class="text-primary md:text-default">mejor kite spot</span> de la costa del sol
  </h1>

  {/* Description */}
  <p class="text-gray-600 text-xl max-w-2xl mb-8">
    Descubre un concepto único de entretenimiento y descanso donde cada detalle está diseñado para brindarte momentos
    inolvidables en un ambiente amigable.
  </p>

  {/* CTA Buttons */}
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <a href="/signin/" class="cta-gradient text-lg font-semibold"> Portal de socios </a>
    <a
      href="/contact/"
      class="cta-gradient-secondary text-lg font-semibold text-white transition-colors px-8 py-3 rounded-full"
    >
      Únete al club
    </a>
  </div>

  {/* Space to allow for video overflow */}
  <div class="h-20"></div>
</div>
