---
import Hero from '~/components/landing/Hero.astro';
import PageLayout from '~/layouts/PageLayout.astro';
---

<PageLayout>
  <div class="h-[calc(100vh-var(--header-height)-var(--footer-height))]">
    <section id="hero" class="relative w-full h-full">
      <div class="absolute inset-0"></div>
      <div class="relative z-10 h-full">
        <Hero />
      </div>
    </section>
  </div>
</PageLayout>
