---
// PageLayout.astro
// This layout is used for all pages
// Includes a header and a footer

import Layout from './Layout.astro';
import Header from '~/components/common/Header.astro';
import Footer from '~/components/common/Footer.astro';
import { NAVIGATION } from '~/config';
import { Image } from 'astro:assets';
import japaneseWaves from '~/assets/images/japanese-waves.webp';

// Props
// - hasBgPattern: boolean
// Accept metadata props
export interface Props {
  metadata?: {
    title?: string;
    useTitleTemplate?: boolean;
    description?: string;
    ogImagePath?: string;
    canonicalUrl?: string;
    pubDatetime?: Date;
    modDatetime?: Date;
    author?: string;
    index?: boolean;
    follow?: boolean;
  };
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <div class="flex flex-col min-h-screen">
    <slot name="header">
      <Header {...NAVIGATION.header} id="main-header" />
    </slot>
    <main class="flex-grow relative">
      {/* Background Pattern */}
      {
        (
          <div
            class="absolute inset-x-0 bottom-0 rotate-0 h-96 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]"
            style="z-index: -1;"
          >
            <Image src={japaneseWaves} alt="Japanese waves pattern" class="w-full h-full object-cover" />
          </div>
        )
      }

      <slot />
    </main>

    <slot name="footer">
      <Footer {...NAVIGATION.footer} />
    </slot>
  </div>
</Layout>
